.react-datepicker-wrapper {
    width: 100%;
    margin-left: 3rem;
}

.xxxs {
    color: white
}

p,
h2,
h3,
h4,
h5,
h6 {
    color: white !important;
}

.btn,
.btn-primary {
    background-color: #C69D5F !important;
    border-radius: 0 !important;
    padding: 10px 2rem !important;
    border: 0 !important;
}